body {
  height: 100vh;
  margin-bottom: 5rem !important;
   background-color: #d01e36 !important;
}

* {
  text-decoration: none !important;
}

 @font-face {
    font-family: PokemonDex;
    src: url(/src/fonts/Pokemon\ Solid.ttf) format("truetype");

  } 

  @font-face {
    font-family: PokemonGame;
    src: url(/src/fonts/PKMN\ RBYGSC.ttf) format("truetype");
  }
