body {
  margin: 0;
  height: 100vh;
  width: 99vw;
    min-height: 1050px;
    min-width: 1050px;
    background-color: #d01e36 !important;
}

* {
  text-decoration: none !important;
}

 @font-face {
    font-family: PokemonDex;
    src: url(/src/fonts/Pokemon\ Solid.ttf) format("truetype");

  } 

  @font-face {
    font-family: PokemonGame;
    src: url(/src/fonts/PKMN\ RBYGSC.ttf) format("truetype");
  }
